<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES6 Intro</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <nav>
        <a href="../views/arrowFunction.html">Arrow Functions</a>
        <a href="../views/templateLiteral.html">Template Literal</a>
        <a href="../views/classes.html">classes</a>
        <a href="../views/defaultParams.html">Default Params</a>
        <a href="../views/destructure.html">Destructure</a>
        <a href="../views/letConst.html">Let / Const</a>
        <a href="../views/map.html">Map</a>
        <a href="../views/set.html">Set</a>
        <a href="../views/spread.html">Spread Operator</a>
    </nav>
    <header>
        <h1>Default Params</h1>
    </header>
    <main id="display"></main>

    <script src="../js/render.js"></script>
    <!-- <script src="../js/arrowFunction.js"></script> -->
    <!-- <script src="../js/classes.js"></script> -->
    <script src="../js/defaultParams.js"></script>
    <!-- <script src="../js/letConst.js"></script> -->
    <!-- <script src="../js/destructure.js"></script> -->
    <!-- <script src="../js/set.js"></script> -->
    <!-- <script src="../js/map.js"></script> -->
    <!-- <script src="../js/spread.js"></script> -->
</body>

</html>