<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES6 Intro</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <nav>
        <a href="../views/map.html">map</a>
    </nav>
    <main id="display"></main>

    <script src="../js/render.js"></script>    <script src="../js/templates.js"></script>
    <!-- <script src="../js/arrowFunction.js"></script> -->
    <!-- <script src="../js/classes.js"></script> -->
    <!-- <script src="../js/defaultParams.js"></script> -->
    <!-- <script src="../js/letConst.js"></script> -->
    <!-- <script src="../js/destructure.js"></script> -->
    <script src="../js/set.js"></script>
    <!-- <script src="../js/map.js"></script> -->
    <!-- <script src="../js/spread.js"></script> -->
</body>

</html>